*{
    box-sizing: border-box;
}
html
{background: white;}
body{
    background: rgb(226, 33, 33);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
   border-radius: 1%;
   padding: 5px 5px;

}
p{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}